logs
*.log
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

dist
dist-debug
dist-ssr
node_modules

*.py[cod]
__pycache__/
.pytest_cache/
.ruff_cache/
.venv/

/app/core/
/web/huddol_web/static/
/app/gen/schemas
/app/icons/android/
/app/icons/ios/
/app/src-tauri/core/
/app/src-tauri/gen/schemas/
/app/src-tauri/icons/android/
/app/src-tauri/icons/ios/
/app/src-tauri/target/
/app/target/
/artifacts/
/cli/target/
/core/build/
/target

*.local
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
